@model CORED.Models.ProfileVm

@{ 
    ViewData["Title"] = "Signup";
}

<h4>ProfileVm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="signup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(Model => Model.FirstName, "", new { @class = "text-danger" })
            </div>

            <div class="form-control">
                @Html.LabelFor(model => model.LastName, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(Model => Model.LastName, "", new { @class = "text-danger" })
            </div>

            <div class="form-control">
                @Html.LabelFor(model => model.FirstName, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(Model => Model.FirstName, "", new { @class = "text-danger" })

                @Html.LabelFor(model => model.Age)
                <input type="number" name="Age" />
                @Html.ValidationMessageFor(Model => Model.Age, "", new { @class = "text-danger" })
            </div>

            <br />
            <input type="submit" value="Create" class="btn btn-default" />
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
